@media print {
  @page {
    margin: 0.5cm;
  }

  input,
  .base,
  .title,
  .info,
  .resources {
    display: none;
  }

  .worksheet input {
    display: none;
  }

  .worksheet h4 {
    text-align: center;
    margin-bottom: 50px;
  }
  .worksheet.self-advocacy-form {
    padding-top: 40px;
  }
}

footer p {
  font-style: italic;
}

p {
  text-align: justify;
}

img {
  margin-bottom: 15px;
  margin-top: 15px;
}

.display-1 {
  font-family: 'Caveat', cursive;
  text-align: center;
}

.title h4 {
  font-family: 'Raleway', cursive;
  text-align: center;
  color: black;
}

h4 {
  color: steelblue;
}

h5 {
  color: rgb(180, 151, 70);
}

form {
  margin-bottom: 20px;
}
