@media print {
  @page {
    margin: 0.5cm;
  }

  h1,
  input,
  .info,
  .resources {
    display: none;
  }

  h2 {
    text-align: center;
  }

  #selfAdvocacyForm {
    padding-top: 40px;
  }
}

form {
  margin-bottom: 20px;
}
