@media print {
  @page {
    margin: 0.5cm;
  }

  title,
  input,
  .info,
  .resources {
    display: none;
  }

  .self-advocacy-form h4 {
    text-align: center;
    padding-top: 40px;
  }
}

.title {
  margin-bottom: 10px;
}

.display-1 {
  font-family: 'Caveat', cursive;
  text-align: center;
}

.title h4 {
  font-family: 'Raleway', cursive;
  text-align: center;
}

form {
  margin-bottom: 20px;
}
